//- module
doctype html
html
  include /../../static/assets/lib/ldui/pug/ldui.pug
  - 
    var og = {
      "url": "https://hackshackers.taipei/",
      "title": "Hacks/Hackers Taipei",
      "description": "",
      "thumbnail": "https://hackshackers.taipei/assets/img/thumbnail.jpg"
    };
  block vars
  head
    meta(charset="utf-8")
    //- Global site tag (gtag.js) - Google Analytics
    script(async,src="https://www.googletagmanager.com/gtag/js?id=UA-156167922-1")
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-156167922-1');
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1')
    title= og.title
    meta(property="og:url", content=og.url)
    meta(property="og:title", content=og.title)
    meta(property="og:description", content=og.description)
    meta(property="og:locale",content="zh_TW")
    meta(property="og:image",content=og.thumbnail)
    meta(property="og:image:type",content=og.thumbtype || "image/jpeg")
    meta(property="og:image:width",content=og.thumbwidth || "1200")
    meta(property="og:image:height",content=og.thumbheight || "630")
    meta(property="og:type", content="website")
    link(rel="icon",href="/favicon.png")

    +css("https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css")
    +css("/assets/lib/ldui/ldui.min.css")
    +css("/css/index.css")
    block head
  body
    include /modules/navtop.pug
    block body
    +script("/assets/lib/ldui/ldui.min.js")
    include /modules/justfont.pug
    block script
    include /modules/foot.pug
