extends /base.pug
block vars
 - ctrl.navtop.placeholder = false
block head
block body
  include /data/posts.pug
  include /data/event.pug
  - posts = posts.sort(function(a,b) { return ( b > a ? 1 : ( b < a ? -1 : 0)); })
  - var post = posts[0]
  .w-100.h-100.text-white.position-relative(style="background:url(/assets/img/hero-bg.jpg) center center fixed #222;background-size:cover")
    .vertical-center: .w-100.text-center
      img.mb-4(src="/assets/img/icon.svg",style="width:3em;opacity:.1;margin-top:-3em")
      h1.display-4.font-weight-bold Hacks/Hackers Taipei
      p 由一群關心新聞 x 科技發展的朋友在台北成立 Hacks/Hackers 在亞洲的第四站。
    .position-absolute.w-100(style="bottom:3em",data-scrollto="#intro")
      img.d-block.mx-auto(src="/assets/img/down.svg",style="width:4em")
  .typeset.heading-contrast.mb-0
    #intro.w-1024.rwd.mx-auto
      .py-4
        .row
          .col-md: .vertical-center: .w-100
            h2 什麼是 Hacks/Hackers？
            .text-justify
              p Hacks/Hackers ( 簡稱H/H ) 是由美國西北大學新聞學院教授Rich Gordon 、Storify 創辦人 Burt Herman、前紐約時報互動新聞主編 Aron Pilhofer 從 2009 年開始逐漸發展出的非營利新聞社群，鼓勵記者編輯 ( Hacks ) 和程式設計師 ( Hackers ) 相互學習、合作，一起想像新聞的未來。
              p 目前全球已有 35 個國家、75 個城市建立 Hacks/Hackers 分支 ( chapter ) ，其他城市的活動可以看這裡、這裡以及這裡。
          .col-md.d-none.d-md-block: .vertical-center: .w-100.text-center
            .aspect-ratio.ratio-16by9.rounded.shadow-sm(style="background:url(/assets/img/map.png) center center no-repeat;background-size:cover")
            //-img(src="/assets/img/hh.svg",style="max-width:320px")
        .py-4.my-4
          a.btn.btn-outline-primary.px-4.mr-2.mb-2(href="/about/") 了解更多 &#xbb;
          .btn.btn-outline-primary.px-4.mr-2.mb-2(data-scrollto="#upcoming") 最新活動 &#xbb;
          a.btn.btn-outline-primary.px-4.mb-2(href="/post/") 所有文章 &#xbb;

    #upcoming.bg-dark.py-4.text-light
      .w-1024.mx-auto.my-4.rwd
        .pb-4
          .text-muted Upcoming Activities
          h1.my-0 最新活動
        .my-4.pb-4.row
          .col-md-5.mb-4: .vertical-center: .w-100
            .aspect-ratio.ratio-3by2.bg-secondary.bg-cover.bg-portrait.shadow.rounded(style="background-image:url(/assets/img/hhtpe-watermark.svg)"): .w-100.h-100
              include /events/thumb.pug
          .col-md-7.mb-4: .vertical-center: .w-100
            .text-muted 第 #{event.no} 場小聚
            h2.mt-0.mb-2 #{event.title}
            .text-muted.mb-2 #{event.date} @ #{event.place}
            p.mb-2.text-light !{md(event.brief)}
            .d-flex.my-4
              each speaker in event.speaker
                - avatar = speaker.avatar || speaker.name.replace(/ /g,'-').toLowerCase();
                .mr-2(style="width:2.5em"): .aspect-ratio.ratio-1by1.rounded-circle.bg-secondary.shadow-sm(style=`background-image:url(/assets/img/avatar/${avatar}.jpg);background-size:cover`)
            .my-4: a.btn.btn-outline-light(href="/events/latest/") 了解更多 &#xbb;

    #post.bg-light.text-dark.w-100.h-100.mb-4: .vertical-center: .w-100: .w-1024.rwd.mx-auto.pt-4.my-4
      .pb-4.text-right
        .text-muted Latest Articles
        h1.my-0 最新文章
      .my-4.pb-4.row
        .col-md-5.d-block.d-md-none.mb-4: .vertical-center: .w-100
          .aspect-ratio.ratio-3by2.bg-secondary.bg-cover.bg-portrait.shadow.rounded(style=`background-image:url(${post.data.thumb})`)
        .col-md-7.mb-4: .vertical-center: .w-100
          h2.mt-0.mb-2 #{post.data.title}
          p.text-dark.mb-2 #{post.data.brief}
          .text-right: a(href=`/posts/${post.name}/`) ... 閱讀全文 &#xbb;
          .py-1.d-flex.align-items-center
            .mr-2(style="width:2.5em"): .aspect-ratio.ratio-1by1.rounded-circle.bg-secondary.bg-cover.bg-portrait(style=`background-image:url(/assets/img/avatar/${post.data.avatar}.jpg)`)
            .text-dark.text-sm
              div #{post.data.author}
              div #{post.data.date}
        .col-md-5.d-none.d-md-block.mb-4: .vertical-center: .w-100
          .aspect-ratio.ratio-3by2.bg-secondary.bg-cover.bg-portrait.shadow.rounded(style=`background-image:url(${post.data.thumb})`)

    .w-1024.rwd.mx-auto.py-4.text-center.mb-4: .py-4
      h2.mb-2 線上參與
      p 除了參與活動以外，何不現在就在線上與其它關注新媒體的夥伴聊聊呢？
      a.btn.btn-lg.btn-outline-primary.my-4(href="https://www.facebook.com/groups/hackshackerstaipei/") 加入臉書社團
block script
  script: :lsc
    smoothScroll!
