extends /base.pug
block vars
  - ctrl.navtop.placeholder = false;
block head
block body
  include /data/posts.pug
  - posts = posts.sort(function(a,b) { return ( b > a ? 1 : ( b < a ? -1 : 0)); })
  .typeset.heading-contrast.h-gr.mb-4
    - var post = posts[0].data

    .bg-dark.text-white.w-100.h-100.mb-4: .vertical-center: .w-100: .w-1024.rwd.mx-auto.pt-4: a.text-white.text-no-deco(href=`/post/${posts[0].name.replace('posts_','')}/`)
      .d-flex.mb-4
        div(style="flex:2 0 67%;padding-right:15px;")
          .aspect-ratio.ratio-2by1.bg-secondary.bg-portrait.bg-cover(style=`background-image:url(${post.thumb})`)
        div(style="flex:1 0 33%;padding-left:15px"): .vertical-center: .w-100
          h3.mt-0.mb-2 #{post.title}
          p.text-light.mb-2.text-justify #{post.brief}
          .py-1.d-flex.align-items-center
            .mr-2(style="width:2.5em"): .aspect-ratio.ratio-1by1.rounded-circle.bg-secondary.bg-cover.bg-portrait.border.border-light.shadow-sm(style=`background-image:url(/assets/img/avatar/${post.avatar}.jpg)`)
            .text-light.text-sm
              div #{post.author}
              div #{post.date}

  .typeset.heading-contrast
    .w-1024.rwd.mx-auto.pb-4
      //-.mb-4.d-flex.justify-content-between
        .flex-grow-1: .btn.btn-outline-primary 訂閱電子報
        div
          .input-group
            input.form-control.border-secondary
            .input-group-append
              .btn.btn-outline-secondary 搜尋
      .row
        each post in posts
          - data = post.data
          .col-md-4.mb-4.pb-4: a.text-dark.text-no-deco(href=`/posts/${post.name.replace('posts_','')}`)
            .aspect-ratio.ratio-16by9.bg-dark.mb-2.bg-cover.bg-portrait(style=`background-image:url(${data.thumb})`)
            h3.mt-0.mb-2 #{data.title}
            p.text-muted.mb-2.text-justify #{data.brief}
            .py-1.d-flex.align-items-center
              .mr-2(style="width:2.5em"): .aspect-ratio.ratio-1by1.rounded-circle.bg-dark.bg-cover.bg-portrait(style=`background-image:url(/assets/img/avatar/${data.avatar}.jpg)`)
              .text-muted.text-sm
                div #{data.author}
                div #{data.date}

block script
