extends /base.pug
block body
  include /data/event.pug

  .typeset.heading-contrast
    .w-1024.rwd.mx-auto
      .py-4
        .text-muted 第 #{event.no} 場小聚
        h2.mt-0.mb-4 #{event.title}
        .row
          .col-md-7
            .w-100: .aspect-ratio.ratio-2by1.mb-4.shadow-sm
              include ../thumb.pug

            | !{md(event.description)}

            h3 活動流程
            | !{md(event.agenda)}

            h3 報名規範
            p 因為場地座位有限，我們不開放候補，想要參加的朋友，麻煩一定要事先報名。
            p 另外，感謝所有人過去對我們的支持，但最近幾次小聚，慢慢出現報名者最後一刻臨時取消、或是神隱不出席。我們理解大家工作與生活繁忙，但小聚的座位都非常有限，所以 Hacks/Hackers Taipei 的新作法是：
            p 希望您確定可以參與後，再報名索取票券，別讓沒搶到票的朋友難過。如果你已經報名，但卻在（1) 活動前48小時內臨時取消，或 (2) 當天未出席，將取消你報名下一次小聚的機會。謝謝你的支持，期待你活動當天的加入！
          .col-md-5
            .sticky
              h3 活動時間
              p #{event.date}
              h3 活動地點
              p !{md(event.location)}
              h3 報名規範
              p 希望您確定可以參與後，再報名索取票券，別讓沒搶到票的朋友難過。如果你已經報名，但卻在（1) 活動前48小時內臨時取消，或 (2) 當天未出席，將取消你報名下一次小聚的機會。謝謝你的支持，期待你活動當天的加入！
              a.btn.btn-primary(href=event.registerlink,target="_blank") 現在就報名

        h3 講者陣容
        .row.my-4.py-4
          each speaker in event.speaker
            .col-md-3
              - avatar = speaker.avatar || speaker.name.replace(/ /g,'-').toLowerCase();
              .w-75.mx-auto.mb-2: .aspect-ratio.ratio-1by1: .w-100.rounded-circle.bg-dark.bg-portrait.bg-cover(style=`background-image:url(/assets/img/avatar/${avatar}.jpg)`)
              h4.text-center #{speaker.name}
              p.text-center #{speaker.title}
              if speaker.brief
                p.text-left !{md(speaker.brief)}
